<h1>User <%= first_name(@user) %></h1>
<%= link "All Users", to: user_path(@conn, :index) %>
<%= render "user.html", key: "Name: ", value: first_name(@user) %>
<p><strong>Email: </strong><%= @user.email %></p>
